Data cleaning in pandas
you often must clean and transform your data into a suitable format. The initial dat wrangling proces is referred to as as Extract Transform Load(ETL)

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#load data
df = pd.read_csv('Datasets/Yelp_Reviews.csv')
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [19]:
df.shape

# Lampda functions - provide a quick and concise way to write functions
# use the .map() or .apply() method to apply a function to a pandas series or DataFrame


# count the number of words in each yelp review:
df['text'].map(lambda review_text: len(review_text.split()))


# Group data
df.groupby('business_id')['stars'].mean().head()

# check for duplicates
df.duplicated().value_counts()

# visually inspect them
df[df.duplicated(keep=False)].sort_values(by='business_id')

df.duplicated().sum()

# Remove duplicates
df = df.drop_duplicates()

# recheck for duplicates
df.duplicated().sum()

df.shape

df.duplicated().value_counts()

False    2277
Name: count, dtype: int64

In [21]:
# Create pivot tables
# this transforms the data into a person by person spreadsheet and what stars they gave various restaurants
# Most values are NaN (null or missing) because people only review a few restaurants of those that exist

usr_reviews = df.pivot(index = 'user_id', columns='business_id', values='stars')
usr_reviews.head(5)

(1010, 2192)

Dealing with Missing data
Identify missing values in a dataframe using built-in methods
Explain why missing values are a problem in data science
Evaluate and execute the best strategy for dealing with missing, duplicate, and erroneous values for a given dataset

In [24]:
# Detecting NaN's
df.isna() # returns a matrix of boolean values where all cells containing NaN are converted to True and all cells
# containing valid data are converted to False.

df.isna().sum()

# Detecting placeholderr value
# Numerical data - outliers - any good placeholder value value will be a value that couldn't show up in the real world
# standard deviation

Unnamed: 0     0
business_id    0
cool           0
date           0
funny          0
review_id      0
stars          0
text           0
useful         0
user_id        0
dtype: int64

In [ ]:
# data cleaning in pandas recap
# Lambda functions