In [ ]:
# This is my first to Machine learning 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Intro Group by
# Splitting the data into groups based on some criteria
# Applying a function to echa group independently
# combining the results into a data structure

# On a dataframe we obtain groupy object by calling groupby() function.


df = pd.DataFrame({
    "A" : ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
    "B" : ["One", "One", "two", "three", "two", "two", "one", "three"],
    "C" : np.random.random(8),
    "D" : np.random.random(8)
})
# Grouping by a column label, selecting column labels and then applying the dataFrameGroupby.sum() function to see the resulting groups
df.groupby("A")[["C", "D"]].sum()

# Grouping by multiple columns labels forms multiindex
df.groupby(["A", "B"]).sum()


grouped = df.groupby("A") # or  df.groupby(df['A])
grouped = df.groupby("B")
grouped = df.groupby(['A', 'B'])


# A data set called drinks by country
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()
# drinks.info()

# print( "The mean of beer serving",  drinks.beer_servings.mean())

# variations in all continent
drinks.groupby('continent').beer_servings.mean()
drinks[drinks.continent == 'Africa'].beer_servings.mean()
drinks.groupby('continent').beer_servings.agg(['mean', 'max', 'min', 'count'])

# drinks.groupby('continent').mean() you need to select columns with numerical values only and group them together

# selecting columns with numeric data
numeric_cols = drinks.select_dtypes(include='number').columns 

drinks.groupby('continent')[numeric_cols].mean()


drinks[drinks.continent == 'Europe'].beer_servings.mean()


# agg() allows us to categorise more functions at once
drinks.groupby('continent').beer_servings.agg(["count", "max", 'min', 'mean'])

In [ ]:
# splitting an object into groups
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
        
    ],
    index = ['falcom', 'parrot', 'lion', 'monkey', 'leopard'],
    columns=("class", "order", "max_speed")
)
speeds.head()
speeds.groupby()

In [ ]:
#  how to calculate summary statistics
titanic = pd.read_csv("Datasets/titanic.csv")

titanic.head()

# Aggregating statistics - mean, min, max, count
titanic['Age'].mean()

# statistics are applied to columns with numerical data
# Operations in general exclude missing data and operate across rows by default

# what is the median age and fare
titanic[["Age", "Fare"]].median() # the selection of a two columns returns a dataframe

titanic[['Age', 'Fare']].describe()

# specific combinations of aggregating statistics for given columns can be defined using the DataFrame.agg() method:
titanic.agg(
    {
        'Age' : ['min', 'max', 'median', 'skew'],
        'Fare': ['min', 'max', 'median', 'mean']
    }
)

# What is the average age for male vs female
titanic[["Sex", 'Age']].groupby("Sex").mean() # a subselection is made for sex and age. and then groupby is applied on sex

# if we dont explicitly select columns the mean method is applied to each column containing numerical columns by passing numeric_only = True
titanic.groupby("Sex").mean(numeric_only=True)

''' 
If we are only interested in the average age for each gender the selection of columns (rectangular brackets[] as usual) 
is suported on the grouped data.
'''
titanic.groupby('Sex')["Age"].mean()

# What is the mean ticket fare price for each of the sex and cabin class combinations?
titanic.groupby(['Sex', "Pclass"])["Fare"].mean()

# grouping can be done by multiple columns at the same time. Provide the column names as a list to the groupby() method.

# counting the number of records by category
# what is the number of passengers in each of the cabin classes?
titanic['Pclass'].value_counts() # value counts method counts the number of records for each category

# using groupby() function
titanic.groupby('Pclass')['Pclass'].count()

# Both size and count can be used in combination with groupby. Size includes NaN values and provides the size of the table, count excludes the missing values. 


# How to manipulate textual data
titanic.head()
# make all name charaters lowercase
titanic['Name'].str.lower() # str is the accessor

# create a new column Surname that contains the surname of the passengers by extracting the part before the comma
titanic['Name'].str.split(',') # Each value is retrned s a list of two elements, the part before the comma and the aprt after the comma

titanic['Surname'] = titanic['Name'].str.split(',').str.get(0) # we use te str accessor and apply Series.str.get() to extract the relevant part

titanic['Surname'] 


# extract the passenger data about the countess on board of the Titanic
titanic['Name'].str.contains('countess')

titanic[titanic['Name'].str.contains('countess')]

titanic.head(20)
titanic.dropna()

In [ ]:
titanic.dropna(subset=['Cabin'], inplace=True)
titanic.head(20)

In [ ]:
titanic.head(20)

In [ ]:
# Working with missing values

# pandas uses different sentinel values to represent a missing value depending on the datatype

M = pd.Series([1, 2], dtype=np.int64).reindex([0, 1, 2])
M
df = pd.Series([True, False], dtype=np.bool_).reindex([0, 1, 2])
df
# Detecting these missing values use the isna() or notna() methods
M.notna() # or isna() will also consider None a missing value

None == None
np.nan == np.nan

In [ ]:
# Categorical Data
''' 
categoricals are pandas data types corresponding t categorical variables in statistics. categorical variables takes a limited and usually fixed number of possible values

categorical data might have an order

'''
# Object creation
s = pd.Series(['a', 'b', 'c', 'a'], dtype='category')
s

In [ ]:
# descriptive statisctics
df1 = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan], "B": [np.nan, 2.0, 3.0, np.nan, 6.0]}
)


df2 = pd.DataFrame(
    {
        "A": [5.0, 2.0, 4.0, np.nan, 3.0, 7.0],
        "B": [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0],
    }
)

df1
df2
df1["A"].sum(0, skipna=False)

# Missing data - by default is not included in the computations
# df1.dropna(how='any') # dropna drops any values with missing data
df1.fillna(value=5)

df1

In [ ]:
df1.dropna(inplace=True)
df1

In [3]:
# Pandas data types
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

turn = pd.read_csv("Datasets/turnstile_180901.txt", dtype=str)
turn.sample(2)

turn.info()

# using map() to transform values

# passing a dictionary
# One of the most straightforward ways to use the .map() method on a pandas Series is with a dictionary of values
# you want to use to replace other values.

turn['DIVISION'].value_counts() # value_counts is used frequently to understand the distribution of categorical data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   197625 non-null  object
 1   UNIT                                                                  197625 non-null  object
 2   SCP                                                                   197625 non-null  object
 3   STATION                                                               197625 non-null  object
 4   LINENAME                                                              197625 non-null  object
 5   DIVISION                                                              197625 non-null  object
 6   DATE                                                                  197625 non-null  object
 7   TIME                                                                  197625 non-null  object
 8   DESC                                                                  197625 non-null  object
 9   ENTRIES                                                               197625 non-null  object
 10  EXITS                                                                 197625 non-null  object
dtypes: object(11)
memory usage: 16.6+ MB

DIVISION
IRT    72198
IND    69274
BMT    41727
PTH    12788
SRT     1386
RIT      252
Name: count, dtype: int64

In [16]:
division_mapping = {
    "IRT": "Interborough Rapid Transit Company",
    "IND": "Independent Subway System",
    "BMT": "Brooklyn–Manhattan Transit Corporation",
    "PTH": "Port Authority Trans-Hudson (PATH)",
    "SRT": "Staten Island Rapid Transit",
    "RIT": "Roosevelt Island Tram"
}
# we can call the .map() method to return a Series with the abbreviations transformed into full names
turn['DIVISION'].map(division_mapping)


# Lets go ahead and replace the Division column in turn with the new transformed values:
turn['DIVISION'] = turn['DIVISION'].map(division_mapping)
turn['DIVISION'].value_counts()

# Passing in a function
# another way to use the .map() method is by passing in a function

# Let's look at the linenae column
turn['LINENAME'].value_counts()

def contains_n(text):
    if "N" in text:
        return True
    else:
        return False
    
    

turn['LINENAME'].map(contains_n)

# or the shorter,  more pythoninc way
# (this overwrites the previous function)

def contains_n(text):
    return "N" in text
turn['LINENAME'].map(contains_n)

# The .apply( method can be used )

# info - provides us with information about the characteristics of the dataframe
# describe() - EDA is to dig into the summary statistics of the dataset and get a feel for the data each column contains

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,NaN,08/25/2018,00:00:00,REGULAR,0006736067,0002283184 ...
1,A002,R051,02-00-00,59 ST,NQR456W,NaN,08/25/2018,04:00:00,REGULAR,0006736087,0002283188 ...
2,A002,R051,02-00-00,59 ST,NQR456W,NaN,08/25/2018,08:00:00,REGULAR,0006736105,0002283229 ...
3,A002,R051,02-00-00,59 ST,NQR456W,NaN,08/25/2018,12:00:00,REGULAR,0006736180,0002283314 ...
4,A002,R051,02-00-00,59 ST,NQR456W,NaN,08/25/2018,16:00:00,REGULAR,0006736349,0002283384 ...
...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,NaN,08/31/2018,05:00:00,REGULAR,0000005554,0000000348 ...
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,NaN,08/31/2018,09:00:00,REGULAR,0000005554,0000000348 ...
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,NaN,08/31/2018,13:00:00,REGULAR,0000005554,0000000348 ...
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,NaN,08/31/2018,17:00:00,REGULAR,0000005554,0000000348 ...
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,NaN,08/31/2018,21:00:00,REGULAR,0000005554,0000000348 ...