In [4]:
# This is my first to Machine learning 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Intro Group by
# Splitting the data into groups based on some criteria
# Applying a function to echa group independently
# combining the results into a data structure

# On a dataframe we obtain groupy object by calling groupby() function.


df = pd.DataFrame({
    "A" : ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
    "B" : ["One", "One", "two", "three", "two", "two", "one", "three"],
    "C" : np.random.random(8),
    "D" : np.random.random(8)
})
# Grouping by a column label, selecting column labels and then applying the dataFrameGroupby.sum() function to see the resulting groups
df.groupby("A")[["C", "D"]].sum()

# Grouping by multiple columns labels forms multiindex
df.groupby(["A", "B"]).sum()


grouped = df.groupby("A") # or  df.groupby(df['A])
grouped = df.groupby("B")
grouped = df.groupby(['A', 'B'])


# A data set called drinks by country
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()
# drinks.info()

# print( "The mean of beer serving",  drinks.beer_servings.mean())

# variations in all continent
drinks.groupby('continent').beer_servings.mean()
drinks[drinks.continent == 'Africa'].beer_servings.mean()
drinks.groupby('continent').beer_servings.agg(['mean', 'max', 'min', 'count'])

# drinks.groupby('continent').mean() you need to select columns with numerical values only and group them together

# selecting columns with numeric data
numeric_cols = drinks.select_dtypes(include='number').columns 

drinks.groupby('continent')[numeric_cols].mean()


drinks[drinks.continent == 'Europe'].beer_servings.mean()

193.77777777777777

In [11]:
# splitting an object into groups
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
        
    ],
    index = ['falcom', 'parrot', 'lion', 'monkey', 'leopard'],
    columns=("class", "order", "max_speed")
)
speeds.head()
speeds.groupby()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, falcom to leopard
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   class      5 non-null      object
 1   order      5 non-null      object
 2   max_speed  4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 160.0+ bytes

In [32]:
#  how to calculate summary statistics
titanic = pd.read_csv("Datasets/titanic.csv")

titanic.head()

# Aggregating statistics - mean, min, max, count
titanic['Age'].mean()

# statistics are applied to columns with numerical data
# Operations in general exclude missing data and operate across rows by default

# what is the median age and fare
titanic[["Age", "Fare"]].median() # the selection of a two columns returns a dataframe

titanic[['Age', 'Fare']].describe()

# specific combinations of aggregating statistics for given columns can be defined using the DataFrame.agg() method:
titanic.agg(
    {
        'Age' : ['min', 'max', 'median', 'skew'],
        'Fare': ['min', 'max', 'median', 'mean']
    }
)

# What is the average age for male vs female
titanic[["Sex", 'Age']].groupby("Sex").mean() # a subselection is made for sex and age. and then groupby is applied on sex

# if we dont explicitly select columns the mean method is applied to each column containing numerical columns by passing numeric_only = True
titanic.groupby("Sex").mean(numeric_only=True)

''' 
If we are only interested in the average age for each gender the selection of columns (rectangular brackets[] as usual) 
is suported on the grouped data.
'''
titanic.groupby('Sex')["Age"].mean()

# What is the mean ticket fare price for each of the sex and cabin class combinations?
titanic.groupby(['Sex', "Pclass"])["Fare"].mean()

# grouping can be done by multiple columns at the same time. Provide the column names as a list to the groupby() method.

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [31]:
# Categorical Data
''' 
categoricals are pandas data types corresponding t categorical variables in statistics. categorical variables takes a limited and usually fixed number of possible values

categorical data might have an order

'''
# Object creation
s = pd.Series(['a', 'b', 'c', 'a'], dtype='category')
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [24]:
# descriptive statisctics
df1 = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan], "B": [np.nan, 2.0, 3.0, np.nan, 6.0]}
)


df2 = pd.DataFrame(
    {
        "A": [5.0, 2.0, 4.0, np.nan, 3.0, 7.0],
        "B": [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0],
    }
)

df1
df2
df1["A"].sum(0, skipna=False)

nan